<h1>Sample View of API Output</h1>

<h2>Company Info</h2>
<%= @angellist.co_info %>
<p>

<h2>Roles</h2>
<%= @angellist.roles %>
<p>

<h2>Comments</h2>
<%= @angellist.comments %>
<p>

<h2>Followers</h2>
<%= @angellist.followers %>
<p>

<h2>Jobs</h2>
<%= @angellist.jobs %>
<p>

<h2>Press</h2>
<%= @angellist.press %>
<p>
