<!DOCTYPE html>
<html lang="en">
<head>
	<%= render 'shared/head' %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="containerFluid <%= action_name %>-c">
    <% if user_signed_in? && current_user.company %>
      <div class="rowFluid" ng-app="SIBJoust">
        <div class="containerNav">
          <%= render "shared/sidenav" %>
        </div>
        <div class="containerMain" ng-view>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
  <%= render 'shared/javascript' %>
</body>
</html>