<!DOCTYPE html>
<html lang="en">
<head>
	<%= render 'shared/head' %>
</head>
<body ng-app="SIBJoust">
  <%= render 'shared/navbar' %>
  <div class="containerFluid <%= action_name %>-c">
    <div class="rowFluid">
      <div class="containerNav">
        <%= render "shared/sidenav" %>
      </div>
      <div class="containerMain">
        <div ng-view>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/javascript' %>
</body>
</html>