<!DOCTYPE html>
<html lang="en">
<head>
	<%= render 'shared/head' %>
</head>
<body ng-app="SIBJoust">
  <%= render 'shared/navbar' %>
  <div class="row <%= action_name %>-c">
    <div class="large-3 columns">
      <%= render "shared/sidenav" %>
    </div>
    <div class="large-9 columns" ng-view>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/javascript' %>
</body>
</html>